
  body {
    background-color: #ddd;
    color: rgba(0, 0, 0, 1);
  }

div#cabecalho{
  width:900px;
  background-color:rgba(255, 255, 255, 0.158) ;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 1000000px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 10px;
}

  /* {
    background-image: url("img.jpg");
    background-color: rgb(300  , 100, 50);
    margin: 0px auto 0px auto;
    }
{
  color:rgb(10, 0, 0, );
}*/
header#indice img#menor {
  position: absolute;
  left: 893px;
  top: 100px;

}
header#indice {
  border-bottom: 1.px rgba(0, 0, 0, 1.0)dotted;
  height: 100;
  background-color: url(fotogoogleglass.jpg.jpeg);
}
header#indice h1{
font-family: Arial, sans-serif;  
color: #000;
font-size: 30pt;
padding: 0px;
margin-bottom: 0px;
text-shadow: #000;
}
header#indice h2{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 15pt;
  margin-top: 0px;
  padding: 0px;
}
div#cabecalho h2 {
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-size: 15pt;
  margin-top: 0px;
  padding: 0px;

}  

header#title h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  font-size: 15pt;
  margin-top: -5px;
  padding: -100px;
}


/*customização da imagem*/
/*figure.foto-legenda {
  position: relative;
   border:4px solid white;
   box-shadow: 1px 1px 10px black;
}
figure.foto-legenda {
    width: 400px;
    height: 400px;
}
figure.foto-legenda figcaption{
  position: absolute;
  top: 50px;
  left: 1000;}
*/



figure.foto-menor {
  width: 196px;
  height: 146px;
}

/*figure.foto-legenda figcaption{
  opacity:0 ;
  position: absolute;
  top: 0px;
  background-color: (0 , 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  padding: 50px;
  box-sizing: border-box;
  transition:opacity 1s;
}
figure.foto-legenda:hover figcaption{
  opacity: 1;

/*

/*menu*/
nav#menu {
  display: block;
}
nav#menu ul {
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top:-20px;
  left:400px ;

}
nav#menu li{
  display: inline-block;
  background-color:rgba(240, 255, 255, 0.623);
  padding: 10px;
  margin: 2px;
  transition: background-color 1s;
}
nav#menu li:hover{
  background-color:#606060 ;
}
nav#menu  h1{
  display: none;
}
nav#menu a {
  color: #000;
  text-decoration: none;
}
nav#menu a hover{
  color: white;
}

  section#corpo {
    display: block;
    width: 400px;
    float: left;
    border-right: 1px solid black;
    padding-right:50px ;
  }
  aside#lateral{
    display: block;
    width: 400px;
    float: right;
  }
  footer{
    clear: both;
    border-top: 1px solid black;
  }
  footer#rodape{
    text-align: center;
  }
  table#tabela {
    border: 1px solid black;
    box-shadow:1px #000 ;
    border-spacing: 0px;
    margin-left:auto ;
  }
  table#tabela td{
    border: 1px solid black;
    text-align: center;
    vertical-align: auto;
  }
  table#tabela td.colunoesq {
text-align: right;
color: #ddd;
background-color:rgba(0, 0, 0, 0.8);
vertical-align: top;
border: #ddd;
  }
  table#tabela td.colunadireit {
color:black;
background-color:rgba(0, 0, 0, 0.3);
  }
  table#tabela caption{
    color: #000;
    font-size: 10pt;
    font-weight: bolder;

  }
  table#tabela caption span{
    display: block;
    float: right;
    color: #000;
    font-size: 7pt;
    margin-top: 10px;
  }
  article#redacao h2{
    font-size: 15pt;
    color: black;
    background-color: #606060;
    padding: 5px 0px 5px 0px;
    margin: 10px;
  }